/* common style  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 1600px;
    margin: 0 auto;
}

/* for all common things  */
:root {
    --button-primary-bg: #FD6E0A;
    --text-color: #757575;
    --text-primary: #474747;
    --bg-primary-color: #FFF8F3;
}

/* header start from here */
header {
    height: auto;
    margin-bottom: 150px;
    background: var(--bg-primary-color);
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, bottom 15px left 50px;
    background-size: 50%, 6%;
}

/* nav style start from here  */
nav {
    display: flex;
    justify-content: space-between;
    padding: 51px 230px 0px;
}

nav h3 {
    font-size: 2.8rem;
    font-weight: 800;
}

.text-orange {
    color: var(--button-primary-bg);
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 1.3rem;
}

nav ul>li a {
    text-decoration: none;
    color: var(--text-primary);
}

.btn-primary {
    border: 0;
    background-color: var(--button-primary-bg);
    width: 150px;
    height: 64px;
    border-radius: 5px;
}

.btn-primary a {
    text-decoration: none;
    color: #FFF8F3;
    font-size: 1.3rem;
    font-weight: 700;
}

/* banner section start from here  */
.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 38px 0px 230px;
}

.banner-about h3 {
    color: var(--text-primary);
    font-size: 45px;
    font-weight: 600;
}

.banner-about h1 {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-about p {
    width: 585px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.two-button {
    display: flex;
    gap: 20px;
}

.btn-download {
    width: 200px;
}

.btn-contact {
    width: 160px;
    background-color: #FFF8F3;
    border: 1px solid var(--button-primary-bg);
}

.btn-contact a {
    color: var(--button-primary-bg);
}

.fa-download,
.fa-phone {
    margin-right: 10px;
}

.banner-image {
    width: 50%;
}

.banner-image>img {
    width: 100%;
}

/* about me section style from here  */
.about-me-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1140px;
    min-height: 550px;
    border-radius: 10px;
    background-color: var(--bg-primary-color);
    margin: 0 auto 130px;
}

.about-me h3 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.about-me p {
    max-width: 827px;
    margin: 0 auto;
    padding: 30px 0px;
    font-size: 18px;
    color: var(--text-color);
    text-align: center;
}

.contact-info {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.contact-info .info {
    text-align: center;
    color: var(--text-color);
    font-size: 20px;
}

.info h4 {
    color: var(--text-primary);
}

/* what-i-do-section start from here */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 30px;
    margin-bottom: 130px;
}

.row>.card {
    width: 267px;
    height: 377px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 40px 33px 0px 33px;
}

.card-body>.card-title {
    font-size: 20px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 20px;
}

.card-body>.card-text {
    width: 201px;
    color: var(--text-color);
    font-size: 16px;
    line-height: 28px;
}

/* <!-- A summary of My Resume section start from here --> */
.summary-resume {
    max-width: 1140px;
    margin: 0 auto;
}

.resume-details-info {
    display: flex;
    gap: 70px;
    margin-top: 113px;
}

.my-education h2 {
    color: var(--text-primary);
    font-size: 30px;
    font-weight: 700;
}

.masters h3 {
    color: var(--text-primary);
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
}

.masters h4 {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
}

.masters p {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;

}

.resume-btn {
    display: block;
    margin: 50px auto 113px;
}

/* <!-- lets connect section start from here  --> */
.lets-connect-section {
    max-width: 1600px;
    min-height: 780px;
    background: #FFF8F3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.lets-connect-info {
    max-width: 562px;
}

.lets-connect-info>p {
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
}

.connect-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.icons .fa-brands {
    font-size: 24px;
    margin-right: 24px;
    color: var(--button-primary-bg);
}

.form-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 28px;
}

.form-info input {
    width: 461px;
    height: 64px;
}

.input-border {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    padding: 18px 30px;
    border: 0;
    border-radius: 5px;
    background: #FFF;

}